@font-face {
    font-family: 'IbarraRealNova-Bold', sans-serif;
    src: url(../fonts/IbarraRealNova-Bold.ttf);
    font-weight: 700;
}

@font-face {
    font-family: 'PublicSans', sans-serif;
    src: url(../fonts/PublicSans-Regular.ttf);
    font-weight: 400;
}