html{
    box-sizing: border-box;
}

*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

.visually-hidden {
        position:absolute;
        left:-10000px;
        top:auto;
        width:1px;
        height:1px;
        overflow:hidden;
}

body{
    font-style: normal;
    font-size: 18px;
    font-family: 'IbarraRealNova-Bold', serif;
    font-family: 'PublicSans', sans-serif;
}

.container{
    max-width: 1440px;
    margin: auto;
    padding: 0 165px;
}

footer{
    background: #33323D;
    width: 100%;
}

.btn{
    color: #33323D;
    font-size: 12px;
    font-family: 'PublicSans-Regular' 'sans-serif';
}