.about{
    display: flex;
}

.about-right{
    padding-left: 125px;
        &_tittle{
            font-family:'IbarraRealNova-Bold', sans-serif;
            font-size: 40px;
            font-weight: 700;
            color: #33323D;
        }
        &_text{
            font-family: 'PublicSans-Regular' 'sans-serif';
            font-size: 18px;
            line-height: 30px;
            color:  #33323D;
            opacity: 80%;
            padding: 28px 0 24px 0;
        }
        &_btn{
            padding: 17px 36px;
        }
        &_top{
            margin-bottom: 50px;
        }
        &_bottom{
            margin-top: 46px;
        }
}

.about-second{
    display: flex;
    padding-top: 180px;
    padding-bottom: 150px;
    &_tittle{
        
        font-family: Ibarra Real Nova;
        font-size: 40px;
        font-weight: 700;
        line-height: 42px;
        letter-spacing: -0.3571428656578064px;
        text-align: left;        
    }
    &_btn{
        margin-left: 598px;
        height: 48px;
        width: 162px;
        color: #33323D;
        font-size: 12px;
        font-family: 'PublicSans-Regular' 'sans-serif';
    }

}